body {
    padding-top: 30px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


#google-map iframe{
    width: 100%;
    height:400px;
}

#imageHero{
    object-fit:cover;
    width:100%;
    height:600px;
}

.music-thumb{
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 175px;
    height: 175px;
    object-fit: cover;
}