@model ArtistsMVCDemo.ViewModels.HomeViewModel
@{
    ViewBag.Title = "Home Page";
}

@section fullWidth{
    <img src="~/img/music.jpeg" id="imageHero" />    
}

<div class="row">
    <h2 class="text-center">Artists</h2>
    <hr />
    @foreach(var artist in Model.Artists)
    {
        <div class="col-md-3">
            <img src="~/img/@Url.Content(artist.Thumbnail)" class="music-thumb" />
            <div class="title">
                <h4 class="text-center">@artist.FullName</h4>
            </div>
        </div>
    }
</div>

<div class="row">
    <h2 class="text-center">Albums</h2>
    <hr/>
    @foreach(var album in Model.Albums)
    {
        <div class="col-md-3">
            <img src="~/img/@Url.Content(album.Thumbnail)" class="music-thumb" />
            <h4 class="text-center">@album.Title</h4>
        </div>
    }
</div>